.loader {
  border: 8px solid #999;
  border-radius: 50%;
  border-top: 8px solid #8B0000;
  width: 12px;
  height: 12px;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
  display :inline-flex;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


#loader_meanshift{
	margin-top:-25px;
	margin-left:89px;

}

#loader_kmeans{
	margin-left:10px;
}

#loader_guestjob{
	margin-top:-25px;
	margin-left:71%;
}

#loader_logout{
	margin-top:-25px;
	margin-left:80px;
}


.xbut {
    background: #8B0000 none repeat scroll 0 0;
    color: #fff;
    font-size: 17px;
    font-weight: bold;
    position: absolute;
    right: 0;
    text-align: center;
    top:2;
    cursor: pointer;
    line-height: 19px;
    border:4px;
    border-radius: 0px 5px 0px 5px;
	
	
}


#main{
	width: 80%;
	margin: 0 auto;
	
}


img.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:80%;
}

#Logo{
	text-align: center;	
	width: 100%;
	height: 35%;
	margin-bottom:4%;
}

body{
	font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
	width: 100%;
	height: 100%;
}

h1{
	text-align: left;
	color: #8B0000;
}
a{
	text-decoration: none;

}

#Linha{
	width: 100%;
	height: 40px;
	float: left;
	margin-bottom:20px;
}


#Home_text{
	width: 99%;
	height: auto;
	font-size: 22px;
	text-align: justify;
}

p.home_class strong{

	color: #8B0000;
}


div.menu{
	width: 12.5%;
	height: 40px;
	float: left;
	text-align: center;
	background-color: #8B0000;
	line-height: 38px;
	color:white;
	font-weight: 900;
}


div.menu:hover{
	background-color: #c10d1c;

}

#Home{
	border-radius: 15px 0px 0px 15px;
}

#Contact{
	border-radius: 0px 15px 15px 0px;
}

#Logado{
	position:absolute;
	width: 250px;
	height: 30px;
	font-weight: 900;
	clear:both;
	text-shadow: 3px 3px 6px #808080;
}

#sair{
	width: 8%;
	height: 30px;
	float:right;
}

#logout{
    width:75px;
    height:25px;
    padding:5px 15px 5px 15px; 
    background:#DCDCDC;
    box-shadow: 1px 1px 5px;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
    text-shadow: 1px 1px 1px white;
    font-weight:bold;	
}

#logout:hover{
	background-color: #C0C0C0;

}


.text_doc{
	text-align: justify;
	text-shadow: 0px 0px;
}

.par_doc{
	color:#585858;
}


#Guestdiv{
	width:70%;
	float:left;

}

#Guest{
	width:100%;
	float:left;
	font-weight:900;
	text-shadow: 3px 3px 6px #808080;
	margin-bottom:5px;
}

#GuestResult{
	clear:both;
	width:30%;
	height:5%;
	position:relative;
	text-align:center;

}

#GuestImg1{
        clear:both;
        width:30%;
        height:5%;
        position:relative;
        text-align:center;

}

#GuestImg2{
        clear:both;
        width:30%;
        height:5%;
        position:relative;
        text-align:center;

}

#GuestImgPCA{
        clear:both;
        width:30%;
        height:5%;
        position:relative;
        text-align:center;

}


input[type=submit] {
    padding:5px 15px 5px 15px; 
    background:#DCDCDC;
    box-shadow: 1px 1px 5px;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
    text-shadow: 1px 1px 1px white;
    font-weight:bold;
}

input[type=submit]:hover{
	background-color: #C0C0C0;

}

#Submissao{
	background-color: #8B0000;
	color:white;
	height:40px;
}

#Submissao2{
        background-color: #8B0000;
        color:white;
        height:40px;
}

#exemplo{
	clear:both;
	float:left;
}

input[type=checkbox] {
	position: relative;
    left: 5;
 }

input[type=radio] {
    position: relative;
    left: 5;
}

input[type=number] {
    position: relative;
    left: 9;
 }

label{
	position: relative;
    left: 5;
}

#sub_btx{
    position: relative;
    left: 9;
}

#runKmeans{
    position: relative;
    left: 9;
    bottom:3;
	
}

.help {
	position:absolute;
	width: 16px;
	padding: 2px;
	margin-left:1px;
}


.help_discretized{
	position:relative;
        width: 16px;
        padding: 2px;
        margin-left:1px;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltips span {
    font-size:12px;
    visibility: hidden;
    width: 200px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    margin-left:2%;
}


.tooltips:hover span {
    visibility: visible;
}

#Algorithms{
	clear:both;
	height: 102%;
}

#MeanShift{
	height: auto;
	margin-top: 35px;
	float: left;
	width: 30%;
	border: 4px;
	border-style: solid;
	border-radius: 10px;
	border-color: #8B0000;
	padding: 5px;
	

}

h3{
text-align: center;
text-shadow: 3px 3px 6px #808080;
}

h2{
text-align: center;
text-shadow: 3px 3px 6px #F8F8FF;
}

#K-Means{
	
	margin-top: 35px;
	position:relative;
	display:inline-block;
	left:2.5%;
	margin-left: auto;
    margin-right: auto;
	height: auto;
	width: 30%;
	border: 4px;
	border-style: solid;
	border-radius: 10px;
	border-color: #8B0000;
	padding: 5px;
	margin-left: auto;

}

#Hierarchical{
	
	height: auto;
	margin-top: 35px;
	float: right;
	width: 30%;
	border: 4px;
	border-style: solid;
	border-radius: 10px;
	border-color: #8B0000;
	padding: 5px;

}

#Result{
	margin-top:auto;
	
}

#Result2{
	margin-bottom: 1%;
}

#Result3{
        margin-bottom: 1%;
}

.index_footer{
	height: 8%;
}

table{
	font-size: 14px;
	text-align: center;
	border-style:solid;
	border-color:white;
	border: 1px;
	margin-top: -30px
}

table th{
	background-color:#8B0000;
	color:white;
	font-weight: 900;
	width: 200px; 
}

table tr:nth-child(2n+1){
	background-color:#f7e8bb;
}

table tr:nth-child(2n){
	background-color:#f5d1a3;
}

#footer{
	clear:both;	
	position: relative;
	width: 100%;
	height: 6em;
	top:1%;
	left: 0;
	text-align: center;
	color: #FFFFFF;
	background: -webkit-linear-gradient(#8B0000, #c10d1c);
	padding-top: 1%;
	font-size: 13px;

}

#footer_bottom{
	clear:both;
	#position: absolute;
	width: 100%;
  	height: 6em;
  	right: 0;
  	bottom: 0;
  	left: 0;
  	color: #FFFFFF;
  	background: -webkit-linear-gradient(#8B0000, #c10d1c);
  	text-align: center;
  	padding-top: 1%;
  	font-size: 13px;
}

#footer_home{
        clear:both;
        /*position: absolute;*/
        width: 100%;
        height: 6em;
        right: 0;
        bottom: 0;
        left: 0;
        color: #FFFFFF;
        background: -webkit-linear-gradient(#8B0000, #c10d1c);
        text-align: center;
        padding-top: 1%;
        font-size: 13px;
}

.Footer_Class{

	margin-top: 11%;

}


#contact_text{
	margin-top:100px;
}

p.contact_class a:link{
	text-decoration: none;
	color: black;
}

p.contact_class a:hover{
	text-decoration: none;
	color: #c10d1c;
}



